{margin:0;
    padding:0;}
    .cabecalho{background-color: rgb(83, 143, 27);
     color: rgb(255, 255, 255);
     display:flex;
     justify-content:space-around;
     padding:24px 0;}
     .cabecalho-lista-item{
        display:inline-block;
        margin: 0 16px;
        padding: 24px 0;
        font-size: 24px;
      .escola {
         backgroud-image:linear-gradient(383D58,#OOcOed);
        color:white
        display:flex;
      }

     .escola_conteudo{
      width: 35%;
      display:flex;
      justify-content: center;
      align-items: center;
     }
     .escola-imagem{
      width:25%;
     }
     .escola-titulo {
     padding: 24px O;
     }